# Dependências
node_modules/

# Arquivos de build e saída
dist/
build/

# Logs e arquivos temporários
logs/
*.log

# Cypress específico
cypress/reports/
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/results/
mochawesome-report/
cypress-visual-screenshots/
cypress-visual-report/
cypress-visual-baseline/